@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rubik+Burned&family=Silkscreen&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url(../img/index.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000;
    font-family: 'Trebuchet MS', Helvetica;
}

header {
    padding: 10px 0.5% 0px 0.5%;
    background: transparent;
    float: left;
    position: fixed;
}

header #logo {
    color: #fff;
    cursor: pointer;
}

header #logo span {
    font-family: Silkscreen;
    font-size: 1.7em;
    line-height: 45px;
    margin-left: 40px;
}

@media (max-width: 1080px) and (min-width: 601px) {
    #logo {
        float: left;
        width: 30%;
        font-size: 1.1em;
    }

    .title_text {
        margin-left: auto;
        margin-right: auto;
        width: auto;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }

    #about {
        float: right;
        width: 67%;
    }
}

@media (max-width: 600px) {
    #logo {
        margin-top: 15px;
        width: 80%;
        font-size: 1.1em;
    }

    .title_text {
        margin-left: auto;
        margin-right: auto;
        width: auto;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }

    #about {
        float: left;
        width: 80%;
    }
}

.title_text {
    font-family: 'Rubik Burned';
    font-size: 100px;
    text-align: center;
    color: #ff0000;
    text-shadow:
        0 0 27px #ff0000,
        0 0 30px #ff0000,
        0 0 51px #ff0000,
        0 0 72px #f0f,
        0 0 112px #f0f,
        0 0 122px #f0f,
        0 0 132px #f0a,
        0 0 181px #f0a;
}

.signature_text {
    top: 80vh;
    position: relative;
    font-family: 'Dancing Script';
    font-size: 20px;
    color: #fff;
    float: right;
    margin-right: 5%;
    text-shadow:
        0 0 5px #fff,
        0 0 15px #fff;
}